parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Called ''env'' outside of the config directory#'
        - '#Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition::references#'
        # SlackMessage is from optional laravel/slack-notification-channel package
        - '#class Illuminate\\Notifications\\Messages\\SlackMessage#'
        - '#has invalid return type Illuminate\\Notifications\\Messages\\SlackMessage#'
        - '#Call to deprecated method setAccessible\(\) of class ReflectionProperty#'
        - '#Negated boolean expression is always true#'
        - '#Property .* on left side of \?\? is not nullable#'
        - '#Call to function is_string\(\) with class-string will always evaluate to true#'
        # Defensive ternary patterns for memory functions - @error suppression makes PHPStan
        # think the condition is always true, but we keep ?: null as defensive code
        - '#Ternary operator condition is always true#'

